<form class="song-search">
	<input type="text" class="song-search-input" placeholder="Song Title">
</form>
<div class="media-player-container">
	<div class="play-logo">
		<img src="{{song.artwork_url}}" alt="">
		<i class="fa fa-play-circle-o"></i>
		<i class="fa pause"></i>
	</div>
	<div class="playback-container">
		<div class="artist-info">
			<div class="volume-controls">
				<i class="fa fa-volume-up"></i>
				<i class="fa fa-caret-down"></i>
				<i class="fa fa-caret-up"></i>
			</div>
			<i class="fa fa-repeat"></i>
			<div class="artist-info-text">
				<p class="artist-info-text-artist">{{song.user.username}}</p>
				<p class="artist-info-text-song">{{song.title}}</p>
			</div>
		</div>
		<ul class="song-status">
			<li class="song-status-time-current">0:00</li>
			<li class="song-status-bar">
				<button class="song-status-bar-slider"></button>
			</li>
			<li class="song-status-time-left">0:00</li>
		</ul>
	</div>
	<ul class="song-info-container">
		<li><i class="fa fa-soundcloud"></i></li>
		<li><p class="song-buy">BUY</p></li>
		<li><i class="fa fa-play-circle"></i> {{song.playback_count}}</li>
		<li><i class="fa fa-heart"></i> {{song.favoritings_count}}</li>
	</ul>
</div>